<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>BootDSSplash</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>«Цифра банк» хочет использовать Bluetooth. Это необходимо для работы функции бесконтактной оплаты.</string>
    <key>firebase_json_raw</key>
    <string>eyJtZXNzYWdpbmdfYXV0b19pbml0X2VuYWJsZWQiOiBmYWxzZSwgIm1lc3NhZ2luZ19pb3NfYXV0b19yZWdpc3Rlcl9mb3JfcmVtb3RlX21lc3NhZ2VzIjogdHJ1ZX0=</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши геоданные. Данные необходимы для определения местоположения на карте относительно офисов и банкоматов «Цифра банк» для определения оптимального маршрута к ним. Ваши геоданные не будут использоваться без вашего разрешения.</string>
    <key>DTPlatformVersion</key>
    <string>18.2</string>
    <key>DTSDKBuild</key>
    <string>22C146</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-iPad60x60</string>
          <string>AppIcon-iPad76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-iPad</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>«Цифра банк» хочет использовать вашу камеру. Фотографии нужны для установки изображения профиля и сканирования реквизитов карт. Ваши фотографии не будут использоваться без вашего разрешения.</string>
    <key>FOTADeploymentKey</key>
    <string>bfcBzzWGyFUCMCub3_yriyBuYXUQN6MsAs_9q</string>
    <key>CFBundleDisplayName</key>
    <string>Цифра банк</string>
    <key>DTXcodeBuild</key>
    <string>16C5032a</string>
    <key>CFBundleIdentifier</key>
    <string>ru.bankffin.ffbank</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>comgooglemaps</string>
      <string>citymapper</string>
      <string>uber</string>
      <string>lyft</string>
      <string>transit</string>
      <string>truckmap</string>
      <string>waze</string>
      <string>yandexnavi</string>
      <string>moovit</string>
      <string>yandextaxi</string>
      <string>yandexmaps</string>
      <string>kakaomap</string>
      <string>szn-mapy</string>
      <string>mapsme</string>
      <string>osmandmaps</string>
      <string>gett</string>
      <string>nmap</string>
      <string>dgis</string>
      <string>lftgpas</string>
    </array>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-iPad60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-iPad</string>
      </dict>
    </dict>
    <key>FirebaseMessagingAutoInitEnabled</key>
    <false/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>«Цифра банк» хочет использовать Bluetooth. Это необходимо для работы функции бесконтактной оплаты.</string>
    <key>MinimumOSVersion</key>
    <string>13.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши фотографии. Фотографии нужны для установки изображения профиля, а также для подачи нефинансовых заявлений с прикрепленными изображениями. Ваши фотографии не будут использоваться без вашего разрешения.</string>
    <key>CFBundleName</key>
    <string>Цифра банк</string>
    <key>CFBundleShortVersionString</key>
    <string>9.2.0</string>
    <key>FOTAPublicKey</key>
    <string>-----BEGIN PUBLIC KEY-----
            MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzGJtnBHO0iqEHPY0pNbtiJBYUFIFm5IDn2NccayHWjChS/S/AdOXOmwhgdo34z+g0LrMvvPJeJoeO7SS6d42PQkZUkiZmtzo+rGXZsuuVOP7n9RX8nRmiHbUA2vNj+yGAHrr2yBKfcRiRD+hOUNaLMv4Yhb8nRMC10VFcGJcIsHcd/vYYFBPxGf5FtBMmS7py3AV2CrZvEiqNPXVx30pq1/HTcQArF8WZgn91+b+u4UyLMyumxtFxLfZEyodOAatTf7UPCfdFMahVsYMYBIRNXJsfEAR1zuI+9UipKTzn6DLTD5pcHqH2AIOxLs7E1E/KEQvyedprwkUEqt7TEkXQQIDAQAB
            -----END PUBLIC KEY-----</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>GTAmericaLCG-Bd.otf</string>
      <string>GTAmericaLCG-Bl.otf</string>
      <string>GTAmericaLCG-Lt.otf</string>
      <string>GTAmericaLCG-Md.otf</string>
      <string>GTAmericaLCG-Rg.otf</string>
      <string>GTAmericaLCG-RgIt.otf</string>
      <string>GTAmericaLCG-Th.otf</string>
      <string>GTAmericaLCG-ULt.otf</string>
      <string>GTAmericaLCG-ULtIt.otf</string>
      <string>AntDesign.ttf</string>
      <string>Entypo.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>Feather.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>FontAwesome5_Brands.ttf</string>
      <string>FontAwesome5_Regular.ttf</string>
      <string>FontAwesome5_Solid.ttf</string>
      <string>Fontisto.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>Octicons.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Zocial.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>ffininvest</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>FirebaseCrashlyticsCollectionEnabled</key>
    <false/>
    <key>DTAppStoreToolsBuild</key>
    <string>17C48</string>
    <key>BuildMachineOSBuild</key>
    <string>24E263</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши геоданные. Данные необходимы для определения местоположения на карте относительно офисов и банкоматов «Цифра банк» для определения оптимального маршрута к ним. Ваши геоданные не будут использоваться без вашего разрешения.</string>
    <key>NSPrivacyManifest</key>
    <dict>
      <key>NSPrivacyAccessedAPITypes</key>
      <array>
        <dict>
          <key>NSPrivacyAccessedAPIReason</key>
          <string>Используется для обеспечения безопасности данных и предотвращения мошенничества путем проверки времени последнего изменения важных файлов.</string>
          <key>NSPrivacyAccessedAPICategory</key>
          <string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
        </dict>
        <dict>
          <key>NSPrivacyAccessedAPIReason</key>
          <string>Необходим для анализа времени работы системы как часть механизмов обнаружения аномалий для защиты от мошенничества.</string>
          <key>NSPrivacyAccessedAPICategory</key>
          <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
        </dict>
        <dict>
          <key>NSPrivacyAccessedAPIReason</key>
          <string>Используется для мониторинга доступного дискового пространства для предотвращения сбоев в работе антифрод системы из-за нехватки места.</string>
          <key>NSPrivacyAccessedAPICategory</key>
          <string>NSPrivacyAccessedAPICategoryDiskSpace</string>
        </dict>
        <dict>
          <key>NSPrivacyAccessedAPIReason</key>
          <string>Используется для хранения пользовательских настроек и предпочтений в рамках функций безопасности, чтобы обеспечить индивидуализированную защиту.</string>
          <key>NSPrivacyAccessedAPICategory</key>
          <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
        </dict>
      </array>
    </dict>
    <key>CFBundleVersion</key>
    <string>1765530880</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>ru</string>
    <key>NSFaceIDUsageDescription</key>
    <string>«Цифра банк» хочет использовать вашу биометрию. Данные необходимы для работы функций авторизации. Ваши данные не будут использоваться без вашего разрешения.</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>cifra</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>cifra</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>bank100000000265</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>bank100000000265</string>
        </array>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши геоданные. Данные необходимы для определения местоположения на карте относительно офисов и банкоматов «Цифра банк» для определения оптимального маршрута к ним. Ваши геоданные не будут использоваться без вашего разрешения.</string>
    <key>DTSDKName</key>
    <string>iphoneos18.2</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши контакты. Данные необходимы для корректной работы раздела переводов. Ваши контакты не будут использоваться без вашего разрешения.</string>
    <key>DTPlatformBuild</key>
    <string>22C146</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>«Цифра банк» хочет использовать ваши фотографии. Фотографии нужны для установки изображения профиля, а также для подачи нефинансовых заявлений с прикрепленными изображениями. Ваши фотографии не будут использоваться без вашего разрешения.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTXcode</key>
    <string>1620</string>
  </dict>
</plist>
